<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
 
    <bean
        class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
 

    <bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="jpaVendorAdapter">
            <bean
                class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="POSTGRESQL" />
                <property name="showSql" value="true" />
            </bean>
        </property>
    </bean>
 
    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/strus2" />
        <property name="username" value="postgres" />
        <property name="password" value="admin" />
    </bean>
 
    <bean id="transactionManager"
        class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
  <!-- serve static contents  -->
	<mvc:resources mapping="/resources/**" location="/resources/" />
	<!-- transaction -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    
   	<!-- Scans the packages to deploy as beans -->
	<context:component-scan base-package="struts2.dao" />
	<context:component-scan base-package="struts2.service" />
	
	<!-- bean Struts 2 -->
	<bean id="utilisateurAction" class="struts2.action.UtilisateurAction"/>
	<bean id="reportAction" class="struts2.action.ReportAction"/>
	<!-- <bean id="pdfViewResolver" class="org.springframework.web.servlet.view.XmlViewResolver">
	<property name="location"><value>/WEB-INF/jasper-views.xml</value></property>
	<property name="order"><value>1</value></property>
</bean> -->
</beans>